version: '3.8'

services:
  server:
    build:
      context: .
    container_name: gyeongdo_server
    environment:
      NODE_ENV: ${NODE_ENV}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    env_file:
      - .env
    ports:
      - '${PORT}:${PORT}'
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7-alpine
    container_name: gyeongdo_redis
    command: redis-server ${REDIS_ARGS}
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data:
